<footer class="header">
    <div class="wrapper footer__cover">
        <ul class="copyright__list">
            <li class="copyright__item">&copy 2021</li>
            <li class="copyright__item">All Rights Reserved</li>
        </ul>
        <p class="devs-text__cover">
            Developed with
            <svg class="devs__icon" width="14px" height="12px">
                <use href="./images/header-images/heart.svg#icon-heart"></use>
            </svg>
            by
            <button class="devs__btn">GoIT Students</button>
        </p>
    </div>
</footer>

<!--Team-->
<div class="team__backdrop">
    <div class="team__block">
        <button class="close-team__btn" width="34px" height="34px">
            <svg class="close__team" width="34px" height="34px">
                <use href="./images/header-images/act.svg#icon-x" width="34px" height="34px"></use>
            </svg>
        </button>
        <h2 class="team__title">Team #7</h2>
        <ul class="team__list">
            <li class="team__item">
                <div class="person">
                    <picture>
                        <source srcset="./images/DreamTeam/Elena.jpeg 1x, ./images/DreamTeam/Elena2x.jpg 2x">
                        <img src="./images/DreamTeam/Elena2x.jpg" alt="Elena" class="person__photo">
                    </picture>
                 <h3 class="person__name">Елена М.</h3>
                </div>
                <p class="person__job">Team Leader</p>
            </li>
            <li class="team__item">
                <div class="person">
                    <picture>
                        <source srcset="./images/DreamTeam/Michael.jpg 1x, ./images/DreamTeam/Michael2x.jpg 2x">
                        <img src="./images/DreamTeam/Michael2x.jpg" alt="Michael" class="person__photo">
                    </picture>
                 <h3 class="person__name">Михаил Г.</h3>
                </div>
                <p class="person__job">Scrum Master</p>
            </li>
            <li class="team__item">
                <div class="person">
                    <picture>
                        <source srcset="./images/DreamTeam/Tatyana.jpg 1x, ./images/DreamTeam/Tatyana2x.jpg 2x">
                        <img src="./images/DreamTeam/Tatyana2x.jpg" alt="Tatyana" class="person__photo">
                    </picture>
                 <h3 class="person__name">Татьяна Т.</h3>
                </div>
                <p class="person__job">Developer</p>
            </li>
            <li class="team__item">
                <div class="person">
                    <picture>
                        <source srcset="./images/DreamTeam/Alexander.jpg 1x, ./images/DreamTeam/Alexandr2x.jpg 2x">
                        <img src="./images/DreamTeam/Alexandr2x.jpg" alt="Alexander" class="person__photo">
                    </picture>
                 <h3 class="person__name">Александр С.</h3>
                </div>
                <p class="person__job">Developer</p>
            </li>
            <li class="team__item">
                <div class="person">
                   <picture>
                        <source srcset="./images/DreamTeam/Anastasia.jpg 1x, ./images/DreamTeam/Anastasia2x.jpg 2x">
                        <img src="./images/DreamTeam/Anastasia2x.jpg" alt="Anastasia" class="person__photo">
                    </picture>
                 <h3 class="person__name">Анастасия Р.</h3>
                </div>
                <p class="person__job">Developer</p>
            </li>
            <li class="team__item">
                <div class="person">
                   <picture>
                        <source srcset="./images/DreamTeam/Alexei.jpg 1x, ./images/DreamTeam/Alexei2x.jpg 2x">
                        <img src="./images/DreamTeam/Alexei2x.jpg" alt="Tatyana" class="person__photo">
                    </picture>
                 <h3 class="person__name">Алексей Т.</h3>
                </div>
                <p class="person__job">Developer</p>
            </li>
            <li class="team__item">
                <div class="person">
                   <picture>
                        <source srcset="./images/DreamTeam/Samuel.jpg 1x, ./images/DreamTeam/Samuel2x.jpg 2x">
                        <img src="./images/DreamTeam/Samuel2x.jpg" alt="Samuel" class="person__photo">
                    </picture>
                 <h3 class="person__name">Самуэль Ш.</h3>
                </div>
                <p class="person__job">Developer</p>
            </li>
        </ul>
    </div>
</div>
<button id="myBtn" >
    <svg class="myBtn-svg" width="40" height="40">
      <use class="myBtn-svg_arrow" href="./images/svg/sprite.svg#arrow-svg"></use>
    </svg>
</button>