<footer class="header">
    <div class="wrapper footer__cover">
        <ul class="copyright__list">
            <li class="copyright__item">&copy 2021</li>
            <li class="copyright__item">All Rights Reserved</li>
        </ul>
        <p class="devs-text__cover">
            Developed with
            <svg class="devs__icon" width="14px" height="12px">
                <use href="./images/header-images/heart.svg#icon-heart"></use>
            </svg>
            by
            <button class="devs__btn">GoIT Students</button>
        </p>
    </div>
</footer>

<!--Team-->
<div class="team__backdrop">
    <div class="team__block">
        <button class="close-team__btn" width="34px" height="34px">
            <svg class="close__team" width="34px" height="34px">
                <use href="./images/header-images/act.svg#icon-x" width="34px" height="34px"></use>
            </svg>
        </button>
        <h1 class="team__title">Team #7</h1>
        <ul class="team__list">
            <li class="team__item">
                <div class="person">
                   <img src="https://files.fm/thumb_show.php?i=syvvcceab" alt="developer" class="person__photo">
                 <h3 class="person__name">@Name@</h3>
                </div>
                <p class="person__job">Developer</p>
            </li>
            <li class="team__item">
                <div class="person">
                   <img src="https://files.fm/thumb_show.php?i=syvvcceab" alt="developer" class="person__photo">
                 <h3 class="person__name">@Name@</h3>
                </div>
                <p class="person__job">Developer</p>
            </li>
            <li class="team__item">
                <div class="person">
                   <img src="https://files.fm/thumb_show.php?i=syvvcceab" alt="developer" class="person__photo">
                 <h3 class="person__name">@Name@</h3>
                </div>
                <p class="person__job">Developer</p>
            </li>
            <li class="team__item">
                <div class="person">
                   <img src="https://files.fm/thumb_show.php?i=syvvcceab" alt="developer" class="person__photo">
                 <h3 class="person__name">@Name@</h3>
                </div>
                <p class="person__job">Developer</p>
            </li>
            <li class="team__item">
                <div class="person">
                   <img src="https://files.fm/thumb_show.php?i=syvvcceab" alt="developer" class="person__photo">
                 <h3 class="person__name">@Name@</h3>
                </div>
                <p class="person__job">Developer</p>
            </li>
            <li class="team__item">
                <div class="person">
                   <img src="https://files.fm/thumb_show.php?i=syvvcceab" alt="developer" class="person__photo">
                 <h3 class="person__name">@Name@</h3>
                </div>
                <p class="person__job">Developer</p>
            </li>
            <li class="team__item">
                <div class="person">
                   <img src="https://files.fm/thumb_show.php?i=syvvcceab" alt="developer" class="person__photo">
                 <h3 class="person__name">@Name@</h3>
                </div>
                <p class="person__job">Developer</p>
            </li>
        </ul>
    </div>
</div>
<button id="myBtn" >
    <svg class="myBtn-svg" width="40" height="40">
      <use class="myBtn-svg_arrow" href="./images/svg/sprite.svg#arrow-svg"></use>
    </svg>
</button>