.movie-modal__overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  &--is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.movie-modal {
  position: absolute;
  width: 280px;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  padding: 48px 20px 41px;

  .modal__overlay--is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    max-width: none;
  }
}

.movie-modal__pic {
  width: 240px;
}

.movie-modal__btn-close {
  position: relative;
  margin-left: calc(100% - 33px);
  margin-top: 8px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url('../../pictures/close.svg');
    background-repeat: no-repeat;
  }
}
